
<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
  
    <head>
      <br>
        <br>
        <div class="header">
            <h1>Kirjan tiedot</h1>
        </div>
  
      <table>
          <tr>
            <th>Kirjan nimi</th>
            <th>Kirjailijan tai kirjailijoiden nimi</th>
            <th>Lisätty tietokantaan</th>
            <th>Kirjan genre</th>
        
          </tr>
        <tr>
          <td>{{ book[0][1] }}</td>
          <td>{{ book[0][2] }} </td>
          <td>{{ book[0][4].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          <td>{{ book[0][5] }}</td>
          
        </tr>
        
      </table>
      
  </head>
    <body></body>
    {% endblock %} 
</html>