<!DOCTYPE html>

<html>
  Tervetuloa ShelfJournaliin!
    <head>{% if session.user_id %}
      <p>Olet kirjautunut käyttäjäidllä: {{ session.user_id }}</p>
      
      <style>
        table, td, th {
          border: 1px solid black;
        }
        table {
          border-collapse: collapse;
          width: 80%;
        }
        td {
          text-align: center;
        }
        </style>
        <p>Olet kirjautunut ShelfJournaliin.</p>
        <title>ShelfJournal</title>
        <nav>
            <ul>
              <li><a href="/register_new_book">Lisää kirja kirjahyllyysi</a></li>
              <li><a href="/search">Etsi kirjaa</a></li>
              <li><a href="/myshelf">Oma kirjahyllysi</a></li>
              <li><a href="/logout">Kirjaudu ulos</a></li>

            </ul>
          </nav>
         
        <h1>ShelfJournal</h1>
        <p>Tervetuloa digitaaliseen kirjahyllyysi!</p>
        <p>
        Voit pitää yllä omaa digitaalista kirjahyllyä ja arvostella omia kirjoja palvelussa, sekä
        nähdä mitä arvosteluja ystäväsi ovat antaneet kirjoille. Tämä on sovelluksen oletusnäkymä ja näet siinä ShelfJournalin julkiseksi merkatut kirjat.
        Jos haluat tarkastella omaa kirjahyllyäsi, 
        <a href="/myshelf">Oma kirjahyllysi</a>.
        </p>
        <table>
          <tr>
            <th>Kirjan nimi</th>
            <th>Kirjoittaja tai kirjoittajat</th>
            <th>Aika</th>
            <th>Arvioi kirja:</th>
            <th>Kirjan saamat arviot</th>
            <th>Kirjan tiedot</th>
          </tr>
        {% for book in books %}
        <tr>  
          <td>{{ book[1] }}</td>
          <td> {{ book[2] }}</td>
          <td> {{ book[3].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          <td><a href="/kirjanarviointi/{{ book[0] }}">Tähän tulee kirjanarviointi</a></td>
          <td><a href="/books_reviews/{{ book[0] }}">Tähän tulee arviointien lisätiedot</a></td>
          <td><a href="/kirjantiedot/{{ book[0] }}">Kirjan kaikki tiedot</a></td>
        </tr>
        {% endfor %}
      </table>
        
        {% else %}
        <a href="/login_to_ShelfJournal">Kirjaudu sisään ShelfJournaliin</a>
        {% endif %}
        <p>
        
        </p>
        <img src="/static/kirjahylly.jpg"> 
    </head>
    <body>
        
    </body>
</html>
