<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>ShelfJournal</title>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <br>
        
    <head>{% if session.user_id %}
        <br>
        <p><b>Tervetuloa digitaaliseen kirjahyllyysi!</b></p>
            <p>
            Voit pitää yllä omaa digitaalista kirjahyllyä ja arvostella omia kirjoja palvelussa, sekä
            nähdä mitä arvosteluja käyttäjät ovat antaneet kirjoille. Tämä on sovelluksen oletusnäkymä ja näet siinä ShelfJournalin julkiseksi merkatut kirjat.
            Jos haluat tarkastella omaa kirjahyllyäsi löydät sen täältä, 
            <a href="/myshelf">Oma kirjahyllysi</a>.
            </p>
        <table>
          <tr>
            <th>Kirjan nimi</th>
            <th>Kirjoittaja, kirjoittajat</th>
            <th>Aika</th>
            <th>Arvioi kirja</th>
            <th>Kirjan arviot</th>
            <th>Kirjan tiedot</th>
          </tr>
        {% for book in books %}
        <tr>  
          <td>{{ book[1] }}</td>
          <td> {{ book[2] }}</td>
          <td> {{ book[3].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          <td><a href="/kirjanarviointi/{{ book[0] }}">Arvioi</a></td>
          <td><a href="/kirjanarvioinnit/{{ book[0] }}">Arviot</a></td>
          <td><a href="/kirjantiedot/{{ book[0] }}">info</a></td>
        </tr>
        {% endfor %}
      </table>
        
        {% else %}
        <a href="/login_to_ShelfJournal">Kirjaudu sisään ShelfJournaliin</a>
        {% endif %}
        <p>
        
        </p>
      </div>
      <div class="col-3">
        <br>
        <br>
        <img src="/static/kirjahylly.jpg"> 
      </div>
    </div>
  </div>
  
    </head>
    <body>
    </body>
    {% endblock %}
</html> 