<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Liity kirjakerhoon{% endblock %}
{% block content %}
<html>
  
    <head>
      <br>
        <br>
        <div class="header">
            <h1>Liity kirjakerhoon</h1>
        </div>
        <p>Tähän tulee mahdollisuus liittyä ryhmiin. Listauksesta voi tarkastella mitä ryhmiä on, ja syöttämällä salasanan voi liittyä valittuun ryhmään:</p>  
      
      <table>
          <tr>
            <th>Ryhmän id</th>
            <th>Ryhmän nimi</th>
            <th>Ryhmän info</th>
            
          </tr>
        
        {% for club in clubs %}
        <tr>
          <td>{{ club[0] }}</td>
          <td>{{ club[1] }}</td>
          <td>{{ club[2] }}</td>
        </tr>
        {% endfor %}
      </table>
      Tähän tulee formi, mihin voi syöttää numeron ja salasanan
      <form action="/login_to_club" method="POST">
        <big>Ryhmän nimi </big><input type="text" name="clubname">
        <p>
        <big>Salasana </big> <input type="password" name="password">
        <p>
        <input type="submit" value="Kirjaudu sisään">
      </form>
 
  </head>
    <body></body>
    {% endblock %}  
</html>