<form action="/create" method="POST">
    <p>Kirjan nimi:<br>
        <input type="text" name="topic"></p>
        <p>1 Tähti:<br>
        <input type="text" name="star"></p>
        <p>2 Tähteä:<br>
        <input type="text" name="star"></p>
        <p>3 Tähteä:<br>
        <input type="text" name="star"></p>
        <p>4 Tähteä<br>
        <input type="text" name="star"></p>
        <p>5 Tähteä<br>
        <input type="text" name="star"></p>

        <input type="submit" value="Luo kysely">
        
    </form>
    