<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
    <head>
        <div class="container">
            <div class="row">
              <div class="col-9">
        <br>
        <br>
        <div class="header">
            <h1>Lisää kirja palveluun</h1>
        </div>
        <form action="/registered_book" method="post"onsubmit="return validate(this)">
        <p> tähän voisi tulla toiminnallisuus että voi etsiä löytyykö kirja jo tietokannasta, jos löytyy niin voi lisätä sen hakutuloksista omaan hyllyyn</p>    
        Kirjan nimi: <br>
        <textarea name="book_title" rows="3" cols="60"></textarea>
        <p>
        Kirjailijan nimi: <br>
        <textarea name="author_name" rows="3" cols="60"></textarea>
        <p>
        Kirjan genre: <br>
        <textarea name="info" rows="3" cols="60"></textarea>
        <p>
        Kirjan näkyvyys:
        <input type="radio" name="visibility" value="private"> Vain minä 
        <input type="radio" name="visibility" value="public"> Kaikki käyttäjät      
        
        <input type="hidden" name="id" value={{ session.user_id }}>

        <input type="submit" value="Lähetä">
        </form>
        <script>
            function validate(form) {
                if (form.book_title.value.length == 0) {
                    alert("Kirjan nimi on tyhjä");
                    return false;
                }
                if (form.author_name.value.length == 0) {
                    alert("Kirjailijan tai kirjailijoiden nimi on tyhjä");
                    return false;
                }
                if (form.info.value.length == 0) {
                    alert("Et antanut kirjalle kuvausta");
                    return false;
                }
                if (form.book_title.value.length > 50) {
                    alert("Kirjan nimi on liian pitkä");
                    return false;
                }
                if (form.author_name.value.length > 40) {
                    alert("Kirjailijan nimi on liian pitkä");
                    return false;
                }
                if (form.info.value.length > 100) {
                    alert("Kirjoitit liian pitkän genren kuvauksen. Maksimi pituus on 100 merkkiä");
                    return false;
                }
                return true;
            }
            </script>
        </div>
        <div class="col-3">
          <br>
          <br>
          <img src="/static/books.jpg"> 
        </div>
      </div>
    </div>
        {% endblock %}        
    </head>
    <body></body>
</html>
