<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
    <head>
      <br>
      <br>
      <div class="header">
        <h1>Arvostelut</h1>
    </div>
      <p>Löytyi seuraavat julkiset arvostelut:</p>
      <table>
          <tr>
            <th>Kirjan nimi</th>
            <th>Tähtiä</th>
            <th>Tekstiarvostelu</th>
            <th>laittoaika</th>
            <th>käyttäjän id</th>
          </tr>
        {% for review in reviews %}
        <tr>
          <td>{{ review[0] }}</td>
          <td>{{ review[1] }}</td>
          <td>{{ review[2] }}</td>
          <td>{{ review[4].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          <td>{{ review[5] }}</td>
          
        </tr>
        {% endfor %}
      </table>
      
  </head>
    <body></body>
    {% endblock %}
</html>
