<!DOCTYPE html>
<html>
    <head>
      <style>
          table, td, th {
            border: 3px solid black;
          }
          table {
            border-collapse: collapse;
            width: 80%;
          }
          td {
            text-align: center;
          }
          </style>
      <h1>ShelfJournal</h1>
      <p>Löytyi seuraavat julkiset arvostelut:</p>
      <table>
          <tr>
            <th>Kirjan nimi</th>
            <th>Tähtiä</th>
            <th>Tekstiarvostelu</th>
            <th>laittoaika</th>
            <th>käyttäjän id</th>
          </tr>
        {% for review in reviews %}
        <tr>
          <td>{{ review[0] }}</td>
          <td>{{ review[1] }}</td>
          <td>{{ review[2] }}</td>
          <td>{{ review[4].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          <td>{{ review[5] }}</td>
          
        </tr>
        {% endfor %}
      </table>
      
  </head>
    <body></body>
</html>
