<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
    <head>
      <br>
      <br>
      <div class="header">
        <h1>Arvostelut</h1>
    </div>
      <p>Löytyi seuraavat arvostelut:</p>
      <table>
          <tr>
            
            <th>Annetut tähdet</th>
            <th>Arvostelu tekstinä</th>
            <th>Arvostelu tehty</th>
            
          </tr>
        
        <tr>
          
          <td>{{ review[0][1] }}</td>
          <td>{{ review[0][2] }}</td>
          <td>{{ review[0][4].strftime("%d-%m-%Y %H:%M:%S") }}</td>
          
        </tr>
        
      </table>
      
  </head>
    <body></body>
    {% endblock %}
</html>
