<!DOCTYPE html>
<html>
    <head>
      <form action="/registered_review" method="post"onsubmit="return validate(this)">
        
          <p>Arvioi kirja:</p>
          <input type="hidden" name="book_id" value={{ id }}>

          <p>Tähän tulee arviointi</p>
          <input type="radio" name="review" value="1"> Yksi tähti 
          <input type="radio" name="review" value="2"> Kaksi tähteä
          <input type="radio" name="review" value="3"> Kolme tähteä 
          <input type="radio" name="review" value="4"> Neljä tähteä 
          <input type="radio" name="review" value="5"> Viisi tähteä
          <p>Tähtien valinta</p>
          <p>Tekstikenttä vapaalle arvostelulle</p>
          Vapaamuotoinen arviosi: <br>
          <textarea name="text_review" rows="5" cols="60"></textarea>
          <p>
            Arvion näkyvyys:
          <input type="radio" name="visibility" value="private"> Vain minä 
          <input type="radio" name="visibility" value="public"> Kaikki käyttäjät
          <input type="submit" value="Tallenna arvio">
       
      </form>
      <script>
        function validate(form) {
            if (form.text_review.value.length > 100) {
                alert("Kirjoitit liian pitkän arvion. Maksimi pituus on 100 merkkiä");
                return false;
            }
            return true;
        }
        </script>
    

          
        
    </head>
    <body></body>
</html>