<!DOCTYPE html>
<html>
    <head>
        <form action="/review_a_book" method="post">

            <p>Kirjan nimi:<br>
            <input type="text" name="topic"></p>
            <p>1 Tähti:<br>
            <input type="text" name="choice"></p>
            <p>2 Tähteä:<br>
            <input type="text" name="choice"></p>
            <p>3 Tähteä:<br>
            <input type="text" name="choice"></p>
            <p>4 Tähteä<br>
            <input type="text" name="choice"></p>
            <p>5 Tähteä<br>
            <input type="text" name="choice"></p>

            <input type="submit" value="Luo kysely">
            </form>
                
        
       
        </form>
        
    </head>
    <body></body>
</html>
