<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tervetuloa ShelfJournaliin!{% endblock %}
{% block content %}
<html>
    <head>
        <br>
        <br>
        <div class="header">
            <h1>Etsi kirjaa ShelfJournalista</h1>
        </div>
        <p>Täällä voit etsiä onko kirja jo tietokannassa. </p>

        <form action="/search_result" method="GET">
        <p>Hae kirjan nimellä     :</p>
        <input type="text" name="query">
        <input type="submit" value="Etsi">
        </form>
        <form action="/search_result_from_author" method="GET">
        <p>Hae kirjailijan nimellä:</p>
        <input type="text" name="query">
        <input type="submit" value="Etsi">
        </form>

        <form action="/search_result_from_genre" method="GET">
            <p>Hae genrellä :</p>
        <input type="text" name="query">
        
        <input type="submit" value="Etsi">
        </form>

        <form action="/search_result_with_stars" method="GET">
            <p>Hae arvostelulla (1-5) :</p>
        <input type="text" name="query">
        
        <input type="submit" value="Etsi">
        </form>

    </head>
    <body></body>
    {% endblock %}
</html>

    