<!DOCTYPE html>
<html>
    <head>
        <p>Täällä voit etsiä onko kirja jo tietokannassa. </p>
        Hae: <br>
        <input type="radio" name="lang" value="fi" checked> kirjan nimen perusteella
        <input type="radio" name="lang" value="sv"> kirjailijan nimellä
        <input type="radio" name="lang" value="en"> genren perusteella
        
        <form action="/search_result" method="GET">
            Kirjan nimi: <input type="text" name="query">
            <br>
            <input type="submit" value="Lähetä">
            </form>

    </head>
    <body></body>
</html>

    