<!DOCTYPE html>
<html>
    <head>
        <p>Täällä voit etsiä onko kirja jo tietokannassa. </p>

        <form action="/search_result" method="GET">
        Hae kirjan nimen perusteella kirjoja: <input type="text" name="query">
        <br>
        <input type="submit" value="Etsi">
        </form>

        <form action="/search_result_from_author" method="GET">
        Hae kirjailijan tai kirjailijoiden nimen perusteella kirjoja: <input type="text" name="query">
        <br>
        <input type="submit" value="Etsi">
        </form>

        <form action="/search_result_from_genre" method="GET">
        Hae genren perusteella kirjoja: <input type="text" name="query">
        <br>
        <input type="submit" value="Etsi">
        </form>

    </head>
    <body></body>
</html>

    