td {
    text-align: center;
  }
  body {
      margin: auto;
      max-width: 65em;
      font-family: 'Helvetica', 'Arial', sans-serif;
      background: brown;
    
    
  }
  .header {
    background: #008400;
    font-weight: bold;
    padding: 100px;
    font-size: 2em;
}
